src/main/mule/global-party-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <!-- GET /parties - Business Logic Flow -->
  <flow name="get-parties-business-logic" doc:name="get-parties-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Parties with External IDs">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
---
// Mock data - simulating database query results with external IDs
[
  {
    id: 1,
    global_id: params.globalId default "party-global-001",
    party_type: params.partyType default "Individual",
    first_name: "John",
    last_name: params.lastName default "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: "TAX-123456",
    externalIds: [{
      external_system: "Salesforce",
      external_value: "SF-001"
    }],
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }
] default []]]></ee:set-payload>
        </ee:message>
        <ee:variables>
          <ee:set-variable variableName="parties"><![CDATA[%dw 2.0
output application/java
---
if (payload is Array) payload else [payload] default []]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <ee:transform doc:name="Transform to Party Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.parties map ((party) -> {
  id: party.id,
  globalId: party.global_id,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: (party.externalIds default []) map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties - Business Logic Flow -->
  <flow name="upsert-party-business-logic" doc:name="upsert-party-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  party_type: payload.partyType,
  first_name: payload.firstName default null,
  last_name: payload.lastName default null,
  middle_name: payload.middleName default null,
  organization_name: payload.organizationName default null,
  date_of_birth: payload.dateOfBirth default null,
  tax_id: payload.taxId default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="partyData"><![CDATA[%dw 2.0
output application/java
--- payload]]></ee:set-variable>
        <ee:set-variable variableName="externalIds"><![CDATA[%dw 2.0
output application/java
--- payload.externalIds default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Upsert Party">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = vars.partyData
var globalId = req.global_id default ("party-global-" ++ (now() as String {format: "yyyyMMddHHmmssSSS"}))
---
// Mock upsert - return party with global_id
[{
  id: 1,
  global_id: globalId,
  party_type: req.party_type,
  first_name: req.first_name default null,
  last_name: req.last_name default null,
  middle_name: req.middle_name default null,
  organization_name: req.organization_name default null,
  date_of_birth: req.date_of_birth default null,
  tax_id: req.tax_id default null,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
        <ee:variables>
          <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
--- payload[0]]]></ee:set-variable>
          <ee:set-variable variableName="globalId"><![CDATA[%dw 2.0
output application/java
--- payload[0].global_id]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <ee:transform doc:name="Mock Get External IDs">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var externalIds = vars.externalIds default []
---
// Mock external IDs - return from request or default
if (sizeOf(externalIds) > 0)
  externalIds map ((ext) -> {
    external_system: ext.system,
    external_value: ext.value
  })
else
  [{
    external_system: "Salesforce",
    external_value: "SF-001"
  }]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id,
  globalId: party.global_id,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="#[if(vars.globalId == null) 201 else 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the party",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /parties/{partyGlobalId} - Business Logic Flow -->
  <flow name="get-party-by-global-id-business-logic" doc:name="get-party-by-global-id-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Party by Global ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var partyGlobalId = vars.partyGlobalId
---
// Mock data - return party if partyGlobalId matches, otherwise empty array
if (partyGlobalId != null and partyGlobalId != "")
  [{
    id: 1,
    global_id: partyGlobalId,
    party_type: "Individual",
    first_name: "John",
    last_name: "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: "TAX-123456",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Party Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Party">
            <ee:variables>
              <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
--- payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <ee:transform doc:name="Mock Get External IDs">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
// Mock external IDs
[{
  external_system: "Salesforce",
  external_value: "SF-001"
}] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id,
  globalId: party.global_id,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties/lookup - Business Logic Flow -->
  <flow name="lookup-party-business-logic" doc:name="lookup-party-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Lookup Party by External ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var externalId = payload.externalId default {}
---
// Mock lookup - return party if external ID matches, otherwise empty array
if (externalId.system != null and externalId.value != null)
  [{
    id: 1,
    global_id: "party-global-001",
    party_type: "Individual",
    first_name: "John",
    last_name: "Doe",
    middle_name: null,
    organization_name: null,
    date_of_birth: "1990-01-15" as Date,
    tax_id: "TAX-123456",
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Party Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Party">
            <ee:variables>
              <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
--- payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <ee:transform doc:name="Mock Get External IDs">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
// Mock external IDs
[{
  external_system: payload.externalId.system default "Salesforce",
  external_value: payload.externalId.value default "SF-001"
}] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id,
  globalId: party.global_id,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found for the given external ID",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while looking up the party",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
