src/main/mule/global-party-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

  <!-- GET /parties - Business Logic Flow -->
  <flow name="get-parties-business-logic" doc:name="get-parties-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Global Parties">
        <db:sql><![CDATA[
          SELECT *
          FROM global_parties
          WHERE
            (:globalId::uuid IS NULL OR global_id = :globalId::uuid)
            AND (:partyType IS NULL OR party_type = :partyType)
            AND (:lastName IS NULL OR last_name = :lastName)
            AND (:taxId IS NULL OR tax_id = :taxId)
          ORDER BY created_at DESC
          LIMIT :limit::integer OFFSET :offset::integer
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload default {}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Store Parties">
        <ee:variables>
          <ee:set-variable variableName="parties"><![CDATA[%dw 2.0
output application/java
---
if (payload is Array) payload else [payload] default []]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <db:select config-ref="Database_Config" doc:name="Select External IDs">
        <db:sql><![CDATA[
          SELECT party_global_id, external_system, external_value
          FROM external_ids
          WHERE party_global_id = ANY(:partyGlobalIds::uuid[])
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
  partyGlobalIds: vars.parties map ((party) -> party.global_id)
}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform to Party Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var parties = vars.parties
var externalIds = payload
var externalIdsByParty = externalIds groupBy $.party_global_id
---
parties map ((party) -> {
  id: party.id as String,
  globalId: party.global_id as String,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: (externalIdsByParty[party.global_id as String] default []) map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties - Business Logic Flow -->
  <flow name="upsert-party-business-logic" doc:name="upsert-party-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  party_type: payload.partyType,
  first_name: payload.firstName default null,
  last_name: payload.lastName default null,
  middle_name: payload.middleName default null,
  organization_name: payload.organizationName default null,
  date_of_birth: payload.dateOfBirth default null,
  tax_id: payload.taxId default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="partyData"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
        <ee:set-variable variableName="externalIds"><![CDATA[%dw 2.0
output application/java
--- payload.externalIds default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <db:insert config-ref="Database_Config" doc:name="Upsert Party">
        <db:sql><![CDATA[
          INSERT INTO global_parties (
            global_id, party_type, first_name, last_name, middle_name,
            organization_name, date_of_birth, tax_id
          )
          VALUES (
            COALESCE(:global_id::uuid, gen_random_uuid()),
            :party_type, :first_name, :last_name, :middle_name,
            :organization_name, :date_of_birth::date, :tax_id
          )
          ON CONFLICT (global_id) DO UPDATE SET
            party_type = EXCLUDED.party_type,
            first_name = EXCLUDED.first_name,
            last_name = EXCLUDED.last_name,
            middle_name = EXCLUDED.middle_name,
            organization_name = EXCLUDED.organization_name,
            date_of_birth = EXCLUDED.date_of_birth,
            tax_id = EXCLUDED.tax_id,
            updated_at = CURRENT_TIMESTAMP
          RETURNING *
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[vars.partyData]]]></db:input-parameters>
      </db:insert>

      <ee:transform doc:name="Store Party">
        <ee:variables>
          <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
          <ee:set-variable variableName="globalId"><![CDATA[%dw 2.0
output application/java
---
payload[0].global_id]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <choice doc:name="Has External IDs?">
        <when expression="#[sizeOf(vars.externalIds) > 0]">
          <db:delete config-ref="Database_Config" doc:name="Delete Existing External IDs">
            <db:sql><![CDATA[
              DELETE FROM external_ids
              WHERE party_global_id = :globalId::uuid
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[{
              globalId: vars.globalId
            }]]]></db:input-parameters>
          </db:delete>

          <ee:transform doc:name="Transform External IDs for Insert">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.externalIds map ((ext) -> {
  party_global_id: vars.globalId,
  external_system: ext.system,
  external_value: ext.value
})]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <foreach doc:name="Insert External IDs">
            <db:insert config-ref="Database_Config" doc:name="Insert External ID">
              <db:sql><![CDATA[
                INSERT INTO external_ids (
                  party_global_id, external_system, external_value
                )
                VALUES (
                  :party_global_id::uuid, :external_system, :external_value
                )
                ON CONFLICT (party_global_id, external_system) DO UPDATE SET
                  external_value = EXCLUDED.external_value
                RETURNING *
              ]]></db:sql>
              <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
            </db:insert>
          </foreach>
        </when>
      </choice>

      <db:select config-ref="Database_Config" doc:name="Get External IDs">
        <db:sql><![CDATA[
          SELECT external_system, external_value
          FROM external_ids
          WHERE party_global_id = :globalId::uuid
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[{
          globalId: vars.globalId
        }]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id as String,
  globalId: party.global_id as String,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="#[if(vars.partyData.global_id == null) 201 else 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the party",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /parties/{partyGlobalId} - Business Logic Flow -->
  <flow name="get-party-by-global-id-business-logic" doc:name="get-party-by-global-id-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Party by Global ID">
        <db:sql><![CDATA[
          SELECT *
          FROM global_parties
          WHERE global_id = :partyGlobalId::uuid
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[{
          partyGlobalId: vars.partyGlobalId
        }]]]></db:input-parameters>
      </db:select>

      <choice doc:name="Party Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Party">
            <ee:variables>
              <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
--- payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <db:select config-ref="Database_Config" doc:name="Get External IDs">
            <db:sql><![CDATA[
              SELECT external_system, external_value
              FROM external_ids
              WHERE party_global_id = :partyGlobalId::uuid
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[{
              partyGlobalId: vars.partyGlobalId
            }]]]></db:input-parameters>
          </db:select>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id as String,
  globalId: party.global_id as String,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties/lookup - Business Logic Flow -->
  <flow name="lookup-party-business-logic" doc:name="lookup-party-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Lookup Party by External ID">
        <db:sql><![CDATA[
          SELECT gp.*
          FROM global_parties gp
          INNER JOIN external_ids ei ON gp.global_id = ei.party_global_id
          WHERE ei.external_system = :externalSystem
            AND ei.external_value = :externalValue
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[%dw 2.0
output application/java
var externalId = payload.externalId default {}
---
{
  externalSystem: externalId.system,
  externalValue: externalId.value
}]]]></db:input-parameters>
      </db:select>

      <choice doc:name="Party Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Party">
            <ee:variables>
              <ee:set-variable variableName="party"><![CDATA[%dw 2.0
output application/java
--- payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <db:select config-ref="Database_Config" doc:name="Get External IDs">
            <db:sql><![CDATA[
              SELECT external_system, external_value
              FROM external_ids
              WHERE party_global_id = :partyGlobalId::uuid
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
  partyGlobalId: vars.party.global_id
}]]]></db:input-parameters>
          </db:select>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var party = vars.party
var externalIds = payload
---
{
  id: party.id as String,
  globalId: party.global_id as String,
  partyType: party.party_type,
  firstName: party.first_name,
  lastName: party.last_name,
  middleName: party.middle_name,
  organizationName: party.organization_name,
  dateOfBirth: party.date_of_birth,
  taxId: party.tax_id,
  externalIds: externalIds map ((ext) -> {
    system: ext.external_system,
    value: ext.external_value
  }),
  createdAt: party.created_at,
  updatedAt: party.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found for the given external ID",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while looking up the party",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
