src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <!-- APIkit Router Configuration -->
  <apikit:config name="global-party-system-api-config" 
                  raml="global-party-system-api.raml" 
                  outboundHeadersMapName="outboundHeaders" 
                  httpStatusVarName="httpStatus"/>

  <!-- Main HTTP Listener with APIkit Router -->
  <flow name="main">
    <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener"/>
		<apikit:router doc:name="APIkit Router" doc:id="990cbf71-dfd0-4c50-927c-6e2fa7e10714" config-ref="global-party-system-api-config"/>
		<error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="404" doc:name="httpStatus" doc:id="f3cac63a-3839-4e40-a00b-ae7ccb0a51fd" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "BAD_REQUEST",
    message: error.description default "Bad request",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="721f33f8-335f-4f24-94f5-bf7bde60b00f" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_ACCEPTABLE",
    message: "Content type not acceptable",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="406" doc:name="httpStatus" doc:id="436c7a92-ac85-4350-a1ed-e9d01671d1f3" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "UNSUPPORTED_MEDIA_TYPE",
    message: "Unsupported media type",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="415" doc:name="httpStatus" doc:id="d5e759ba-e535-49cd-84ed-66e4eaed9a94" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
				<set-variable value="405" doc:name="httpStatus" doc:id="4a9553bb-f0ab-4411-867d-a9a711863983" variableName="httpStatus"/>
      </on-error-propagate>
    </error-handler>
  </flow>

  <!-- GET /parties -->
  <flow name="get:\parties:global-party-system-api-config">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  globalId: attributes.queryParams.globalId default null,
  partyType: attributes.queryParams.partyType default null,
  lastName: attributes.queryParams.lastName default null,
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <flow-ref name="get-parties-business-logic" doc:name="get-parties-business-logic"/>
  </flow>

  <!-- POST /parties -->
  <flow name="post:\parties:global-party-system-api-config">
    <flow-ref name="upsert-party-business-logic" doc:name="upsert-party-business-logic"/>
  </flow>

  <!-- GET /parties/{partyGlobalId} -->
  <flow name="get:\parties\(partyGlobalId):global-party-system-api-config">
    <set-variable value="#[attributes.uriParams.partyGlobalId]" variableName="partyGlobalId" doc:name="Set Party Global ID"/>
    <flow-ref name="get-party-by-global-id-business-logic" doc:name="get-party-by-global-id-business-logic"/>
  </flow>

  <!-- POST /parties/lookup -->
  <flow name="post:\parties\lookup:global-party-system-api-config">
    <flow-ref name="lookup-party-business-logic" doc:name="lookup-party-business-logic"/>
  </flow>

</mule>

